*{
    margin: 0;
    padding: 0;
}
.main_section{
    background: #fff url('./img/sky.jpg') no-repeat fixed center center;
    background-size: cover;
    position: relative;
    display: flex;
    z-index: 1;
}
.main_section::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -2;
}
.form_section{
    margin: 150px auto;
    z-index: 999;
    width: 620px;
}
.form{
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 30px 30px 50px 30px;
}
.form_title{
    margin-bottom: 20px;
    color: #FFF;
}
.input{
    width: 98%;
    margin-bottom: 20px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    padding: 5px;
    color:#FFF;
    display: flex;
}
.input::placeholder{
    color:red;
}
.input:focus{
    outline: none;
}
.input_btn{
    color:#FFF;
    background-color: rgba(0, 0, 0, 0);
    border:1px solid #FFF;
    width:100%;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
.icon{
    padding-right: 10px;
}